<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="css/shoppingcart.css" rel="stylesheet">
        <title>Shopping Cart</title>
    </head>
    <body>
        <h1> Shopping Cart</h1>
        <img src="images/cart.png"> <%=count%>

        <div id="list">
        <% for(let id in cart) {%>
            <%  if(cart[id].quantity == 0) continue;
                let product = products[cart[id].index];
            %>
            <div class="item">
                <img src=<%=product.src%>>
                <div>
                    <p><%=product.desc%><p>
                    <p>Quantity: <%=cart[id].quantity%> </p>
                </div>
                <div class="price">
                    <h3><%=product.price%></h3>
                    <% let total = product.price * cart[id].quantity;%>
                    <h3>Total: <%=total%></h3>
                </div>
            </div>
        <% } %>
        </div>
    </body>
</html>