<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="css/shoppingcart.css" rel="stylesheet">
        <title>Shopping Cart</title>
    </head>
    <body>
        <h1> Shopping Cart</h1>
        <img src="images/cart.png"> <%=count%>

        <div id="list">
        <% for(const prod of cart) {%>
            <% if(prod.quantity == 0) continue;%>
            <div class="item">
                <img src=<%=products[prod.id-1].src%>>
                <div>
                    <p><%=products[prod.id-1].desc%><p>
                    <p>Quantity: <%=prod.quantity%> </p>
                </div>
                <div class="price">
                    <h3><%=products[prod.id-1].price%></h3>
                    <% let total = products[prod.id-1].price * prod.quantity;%>
                    <h3>Total: <%=total%></h3>
                </div>
            </div>
        <% } %>
        </div>
    </body>
</html>